{% extends "ifgfoc/layout.html" %}
{% load static %}

{% block title %}
    Care Group - IFGF OC
{% endblock %}

{% block body %}
<div class="container care-groups center-align">
    <h1>CARE GROUPS</h1>
    <div class="row">
        <div class="col l6 s8 push-s2 m8 push-m2 center-align z-depth-0">
            <div class="card care-cards">
                <div class="card-content">
                    <img class="responsive-img" src="https://picsum.photos/300?grayscale">
                    <h4>Family</h4>
                    <h6>Contact Information:</h6>
                    <p>
                        Leader's Name: Fira <br>
                        Phone Number: (949)-123-4567 <br>
                        Email: family@ifgfoc.com
                    </p>
                </div>
                <div class="container care-social">
                    <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div> 
            </div>
        </div>

        <div class="col l6 s8 push-s2 center-align">
            <div class="card care-cards">
                <div class="card-content">
                    <img class="responsive-img" src="https://picsum.photos/300?grayscale">
                    <h4>Professionals</h4>
                    <h6>Contact Information:</h6>
                    <p>
                        Leader's Name: Jennifer <br>
                        Phone Number: (949)-123-4567 <br>
                        Email: professionals@ifgfoc.com
                    </p>
                </div>
                <div class="container care-social">
                    <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l6 s8 push-s2 center-align">
            <div class="card care-cards">
                <div class="card-content">
                    <img class="responsive-img" src="https://picsum.photos/300?grayscale">
                    <h4>College</h4>
                    <h6>Contact Information:</h6>
                    <p>
                        Leader's Name: Tiffany <br>
                        Phone Number: (949)-123-4567 <br>
                        Email: college@ifgfoc.com
                    </p>
                </div>
                <div class="container care-social">
                    <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div> 
            </div>
        </div>

        <div class="col l6 s8 push-s2 center-align" id="last-care-card">
            <div class="card care-cards">
                <div class="card-content">
                    <img class="responsive-img" src="https://picsum.photos/300?grayscale">
                    <h4>Youth</h4>
                    <h6>Contact Information:</h6>
                    <p>
                        Leader's Name: Justin <br>
                        Phone Number: (949)-123-4567 <br>
                        Email: youth@ifgfoc.com
                    </p>
                </div>
                <div class="container care-social">
                    <a href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div> 
            </div>
        </div>
        <div class="container" id="care-whitespace">
        </div>
    </div>
</div>
{% endblock %}