{% extends "ifgfoc/layout.html" %}
{% load static %}

{% block title %}
    Give - IFGF OC
{% endblock %}

{% block body %}
    <div class="give-img">
        <img src="{% static '/images/give-img.jpg' %}" alt="Give" class="circle responsive-img" height=300vw width=300vw>
    </div>
    <div class="give-txt">
        <div class="col">
            <h1 class="center-align">GIVE ONLINE</h1>
            <p class="center-align">
                Many people in our congregation prefer the convenience and predictability of online giving. <br>
                Therefore, we have an application that enables you to conveniently and securely give online. <br>
                If you have any questions or concerns feel free to email 
                <a href="mailto: contributions@ifgfla.com">contributions@ifgfla.com</a><br>
                Click
                <a href="https://www.youtube.com/watch?v=7g7a8QorNTk" target="_blank">here</a>
                to watch the video instruction to give online. <br>
                Click 
                <a href="https://ifgfla.infellowship.com/UserLogin/Index?ReturnUrl=%2fonlinegiving%2fhistory" target="_blank">here</a>
                to view your giving history. <br>
                Thank you for your faithfulness in giving online.
            </p>
        </div>
    </div>
    
    <a id="give-btn" href="https://ifgfla.infellowship.com/OnlineGiving/GiveNow/NoAccount" target="_blank" class="waves-effect waves-light btn-large transparent">GIVE NOW</a>

    <p id="alt-info">
        Zelle: give@ifgfla.com <br>
        Venmo: IFGF-LosAngeles <br>
        Mail: 147 W. Palm Ave, Monrovia, CA 91016
    </p>
    
{% endblock %}