{% extends "ifgfoc/layout.html" %}
{% load static %}

{% block title %}
    IFGF OC
{% endblock %}

{% block style %}
    <style>
        footer {
            margin-top: -7px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="image">
        <img class="responsive-img" src="{% static '/images/worship1.jpg' %}" width="1600" height="800">
        <div class="centered">
            <h1><span>IFGF OC<br/>Welcome Home</span></h1>
            <a href="https://www.livestream.com/ifgfla/monroviaservice" class="waves-effect waves-light btn-large transparent">JOIN OUR CHURCH ONLINE</a>
        </div>  
    </div>
{% endblock %}