{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'styles.css' %}" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <script src="https://kit.fontawesome.com/045519ba5e.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Blinker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block style %}
        {% endblock %}
        
    </head>
    <body>
        <nav class="nav-wrapper">
            <div class="container" id="navbar-container">
              <a href="./" class="brand-logo">
                  <img src="{% static '/images/ifgf.jpg' %}" width="90" height="80" class="responsive-img">
              </a>
              <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
              </a>
              
              <ul class="right hide-on-med-and-down">
                <li><a href=".">Home</a></li>
                <li><a href="about-us">About Us</a></li>
                <li><a href="give">Give</a></li>
                <li><a href="care-group">Care Group</a></li>
                <li><a href="stream">Stream</a></li>
              </ul>
            </div>
        </nav>
      
        <ul class="sidenav" id="mobile-links">
            <li>
                <a href="#!" class="sidenav-close"><i class="material-icons" style="color:white">close</i></a>
            </li>
            <li><a href=".">Home</a></li>
            <li><a href="about-us">About Us</a></li>
            <li><a href="give">Give</a></li>
            <li><a href="care-group">Care Group</a></li>
            <li><a href="stream">Stream</a></li>
        </ul>

        <div class="main col-lg-10 col-md-9">
            {% block body %}
            {% endblock %}
        </div>

        {% block scripts %}
        {% endblock %}
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.sidenav').sidenav();
            })
        </script>

        
    </body>
    <footer class="page-footer">
            <div class="footer-content">
                <p> IFGF OC<br>1526 Brookhollow Dr, Santa Ana, CA 92705</p>
                <a href="https://www.youtube.com/channel/UCnlbFb18WzWfsiYnmH10IWg" target="_blank">
                  <i class="fab fa-youtube fa-4x" style="color:#ffffff"></i>
                </a>
            </div>
            <div class="footer-copyright">
              <div class="container">
              </div>
            </div>
    </footer>
</html>