{% extends "ifgfoc/layout.html" %}
{% load static %}

{% block title %}
    Stream - IFGF OC
{% endblock %}

{% block scripts %}
    <!-- <script src="{% static '/js/script.js' %}"></script> -->
{% endblock %}

{% block body %}
    <div class="hero-stream-image">
        <div class="streamContainer">
            <a href="https://www.livestream.com/ifgfla/monroviaservice">
                <h3>
                    Stream Our Sunday Service Live
                </h3>
            </a>
        </div>
    </div>
    <div class="recenth3">
        <h3>Visit our YouTube Channel for recent sermons!</h3>
        <br>
        <div class="container" id="youtubeContainer">
            <a href="https://www.youtube.com/channel/UCnlbFb18WzWfsiYnmH10IWg">
                <h3>
                    IFGF Los Angeles
                </h3>
            </a>
        </div>
    </div>
        <!-- <div style= "display:flex; justify-content:center; align-items:center;" class="container">
            <div id="results"></div>
        </div>   -->

{% endblock %}