{% extends "ifgfoc/layout.html" %}
{% load static %}

{% block title %}
    Stream - IFGF OC
{% endblock %}

{% block scripts %}
    <script src="{% static '/js/script.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="hero-stream-image">
        <div class="streamContainer">
            <a href="https://www.livestream.com/ifgfla/monroviaservice">
                <h3>
                    Stream Our Sunday Service Live
                </h3>
            </a>
        </div>
    </div>
    <div class="recenth3">
        <h3>Recent Sermons</h3>
        <div class="container">
            <div class="row" id="results"></div>
        </div>
    </div>

{% endblock %}