{% extends "ifgfoc/layout.html" %}

{% block title %}
    Stream - IFGF OC
{% endblock %}

{% block body %}
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL8jYgnBKHMmbfQ-hPGanUtPt1tROC2RcR" 
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="page-content">
        <a href="https://www.livestream.com/ifgfla/monroviaservice">Stream Our Sunday Service Live</a>
    </div>
{% endblock %}