body {
    background-color: #2f3336;
    color: white;
    font-family: 'Blinker', sans-serif;
}

ul > li > a {
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 2.5px;
}

nav, .sidenav {
    background-color: #212529 !important;
}

.footer-content > p {
    font-size: 22px;
    letter-spacing: 4px;
}

.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 30px;
    /* font-family: 'Roboto', sans-serif; */
    font-style: bold;
}

.give-img {
    filter: grayscale(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.give-img > img {
    outline: none;
    border: 2px solid white;
}

.intro-txt > .col > h1 {
    font-weight: 5px;
    letter-spacing: 10px;
}

.intro-txt > .col > p {
    margin-top: 80px;
    margin-bottom: 80px;
    letter-spacing: 4px;
    font-size: 22px;
    line-height: 43px;
}

.give-txt > .col > h1 {
    font-weight: 5px;
    letter-spacing: 10px;
}

.give-txt > .col > p {
    margin-top: 80px;
    letter-spacing: 4px;
    font-size: 22px;
    line-height: 43px;
}

.container.careGroups > h1 {
    font-weight: 5px;
    letter-spacing: 10px;
}

#alt-info {
    letter-spacing: 4px;
    font-size: 22px;
    line-height: 43px;
    margin-bottom: 80px;
    text-align: center;
}

.give-txt > .col > p > a {
    color: #42bee7;
}

.give-txt > .col > p > a:hover {
    color: #73d1eb;
}

#give-btn {
    margin-top: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    outline: none;
    border-radius: 20px;
    border: 1px solid white;
}

#stream-btn {
    margin-top: 150px;
    margin-bottom: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    outline: none;
    border-radius: 20px;
    border: 1px solid white;
}

#give-btn:hover, #stream-btn:hover {
    border: 1px solid grey;
}

.hero-image {
    position: relative;
    height: 100vh;
    background: url(../static/images/worship.jpg) no-repeat center;
    background-size: cover;
}

.indexContainer, .streamContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    color: white;
}

.indexContainer > h1 {
    font-size: 6vh;
    margin-bottom: 0;
    padding-bottom: 1vh;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

.indexContainer > h3 {
    font-size: 5vh;
    margin-top: 0;
    margin-bottom: 1;
    padding-bottom: 1vh;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
}

.indexContainer > a {
    outline: none;
    border-radius: 20px;
    border: 1px solid white;
}

.indexContainer > a:hover {
    border: 1px solid grey;
}

.hero-stream-image {
    position: relative;
    height: 100vh;
    background: url(../static/images/worship.jpg) no-repeat center;
    background-size: cover;
}

.streamContainer a h3 {
    font-family: 'Work Sans', sans-serif;
    color: white;
    border-radius: 30px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;
    padding-top: 1.8vh;
    border: solid white;
}

.streamContainer a h3:hover {
    background-color: #212529;
}

.recenth3 h3 {
    padding-left: 3vw;
    font-family: 'Work Sans', sans-serif;
    font-size: 4vh;
}

.streamContainer {
    width: 60vw;
}



#indexcardcontainer {
    width:90%;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#indexcardcontainer > h3 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    padding-bottom: 3vh;
}

.involveCards > h3 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 3.5vh;
}

.footer-content {
    position: relative;
    text-align: center;
}

.page-footer {
    background-color: #212529;
}

#mobile-links > li > a {
    color: white;
}

#careCards {
    border: solid white;
    border-radius: 1vw;
    background-color: transparent;
    transition: .5s;
}

#careCards:hover {
    transform: scale(1.03);
}

.involveCards > a {
    outline: none;
    border-radius: 20px;
    border: 1px solid white;
    margin-bottom: 5vh;
    padding-bottom: 2vh;
}

.involveCards > img:hover {
    opacity:0.5;
}

.involveCards > a:hover {
    border: 1px solid grey;
}

i {
    color: white;
}

.grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }